@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.shadow-neumorphic {
  box-shadow:
    6px 6px 16px #bebebe,
    -6px -6px 16px #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* === React Calendar Custom Styling === */

/* Default tile text color */
.react-calendar__tile {
  color: orange;
}

/* Sunday / Weekend styling */
.react-calendar__month-view__days__day--weekend {
  color: red !important;
}

/* Hover and active tile */
.react-calendar__tile--active,
.react-calendar__tile:enabled:hover {
  background-color: #ffe0b2;
  color: #ff8c00;
}
